body {
  background-color: rgb(190, 185, 216);
  font-family: Arial, Helvetica, sans-serif;
  font-size:medium;
}
iframe {
  width: 1190px;
  height: 569px;
}

.animationbanner{

}
/* may use an animation for this section instead */
#animationslogan {
  
}

li::marker {
  content: none;
}

#page {
  display: grid;
  grid-template-areas: "head" "nav" "gametime" "main" "history" "tickets" "highlights" "contact" "foot";
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
} 

#page > header, #historypage > header, #ticketpage >header{
  grid-area: head;
  background-color: rgb(57, 5, 177);
  color: rgb(244, 234, 234);
}

#page > nav, #historypage > nav, #ticketpage > nav{
  grid-area: nav;
  background-color: #b1f4f8;
  font-size: large;

}

#page>#gametime {
  grid-area: gametime;
  background-color: #fcfcfa;
}

#page>main {
  grid-area: main;
  background-color: #fcfcfa;
}

#page>#tickets {
  grid-area: tickets;
  background-color: #fcfcfa;
  background-image: url(../images/logo_responsive_version.png);
  background-repeat: space;
  background-size:contain;
}

#page>#history {
  grid-area: history;
  background-color: #fcfcfa;

}

#page>#highlights {
  grid-area: highlights;
  background-color: #fcfcfa;
  height: auto;
}

#page > footer, #historypage > footer, #ticketpage >footer {
  grid-area: foot;
  background-color: rgb(57, 5, 177);
  color: whitesmoke;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}


#page>#gametime>table {
  background-color: rgb(122, 208, 239);
  width: 100%;
}

#page>#gametime>table>tbody {
  background-color: #0188ff;
}

#page>#gametime>table>tbody>tr>th {
  background-color: #0188ff;
  text-align: center;
}

#page>#gametime>table>tbody>tr {
  background-color: #f7f8f4;
}

#page>td>.datetime {
  column-span: all;
}

ul {
  text-align: center;
  
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 3%;
  /* padding-top: 1%;
  padding-bottom: 1%; */
  display: inline;
  list-style: none;
  /* padding-left: 40px;
  padding-right: 40px; */
  border: solid blue 1px;
  border-radius: 20px;
}


a {
  color: #b0b0f5;
  text-decoration: none;
}

a:visited {
  color: #0103FF;
}

#historypage {
  display: grid;
  grid-template-areas: "head" "nav" "history" "earlyinfo" "extrainfo" "foot";
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}
#ticketpage {
  display: grid;
  grid-template-areas: "head" "nav" "singleticket" "foot";
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}
#ticketpage > #singleticket{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
#ticketpage>#singleticket {
  grid-area: singleticket;
  background-color: #fcfcfa;
  height: 100%;
  width: 100%;
  margin: auto;
}
.cardimgtickets{
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  background-color: #0103FF;
}
.cardimgtickets:hover{
  background-color: gray;
}

#historypage>#earlyinfo {
  grid-area: earlyinfo;
  background-color: #fcfcfa;
  height: auto;
}

#historypage>#extrainfo {
  grid-area: extrainfo;
  background-color: #fcfcfa;
  height: auto;
}
#historypage>#history {
  grid-area: history;
  background-color: #fcfcfa;
  height: auto;
}