body {
  background-color: rgb(5, 59, 177);
  
}

li::marker{
  content: none;
}

/* .headermobile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} */
/* .three {
  grid-column: 1;
  grid-row: 2 / 5;
} */
#page {
  display: grid;
  grid-template-areas:"head" "nav" "main" "history" "tickets" "highlights" "foot" ;
  grid-gap: 10px;
  /* width: 100%;
  height: 250px; 
   grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot"; 
   grid-template-rows: repeat(3,1fr); 
   grid-template-columns: auto 1fr;  */
}

#page > header {
  grid-area: head;
  background-color: rgb(5, 59, 177);
  text-align: center;
  width: 80%;
  margin:auto;
  border-radius: 5px;
}

#page > nav {
  grid-area: nav;
  background-color: #ffa08c;
  width: 80%;
  margin:auto;
  border-radius: 5px;
  
}

#page > main {
  grid-area: main;
  background-color: #ffff64;
  text-align: center;
  width: 80%;
  margin:auto;
  border-radius: 5px;
}
/* #page > main > article {
  display:block;
  width: 40%;
  border-radius: 2%;

} */
#page > #tickets {
  grid-area: tickets;
  background-color: #ffff64;
  text-align: center;
  width: 80%;
  margin:auto;
  border-radius: 5px;
  /* background-image: url(..//images/testimage2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; */
  
}
#page > #history {
  grid-area: history;
  background-color: #ffff64;
  text-align: center;
  width: 80%;
  margin:auto;
  border-radius: 5px;
  /* background-image: url(..//images/testimage2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; */
  
}
#page > #highlights {
  grid-area: highlights;
  background-color: #ffff64;
  width: 80%;
  margin:auto;
  border-radius: 5px;
  text-align: center;
  /* background-image: url(..//images/testimage2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; */
  
}

#page > footer {
  grid-area: foot;
  background-color: #8cffa0;
  width: 80%;
  margin:auto;
  border-radius: 5px;
  text-align: center;
} 

/* #page > .cardimg {
  grid-area: history;
} */
/* #card{
  width: 50%;
  margin:auto;
  border-radius: 5px;
  
  
} */

*/
/* ul{
  padding-top: 5%;
  padding-left: 0%;
}
ul li{
  display: block;
  padding-top: 5%;
  text-align: center;
} */

a {
  color:  #0103FF;
}