body {
  background-color: White;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

iframe {
  width: auto;
  height: 300px;
}

p {
  margin: auto;
  max-width: 90%;
  padding-top: 1%;
  padding-bottom: 2%;
  
}

fieldset {
  border: solid 1px black;
  border-radius: 20px;
  margin: 1%;
}

.playerimage {
  width: 100%;
  /* height: 50%; */
  object-fit: cover;
}

label {
  display: flex;
  align-items: center;
  padding-left: 7%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}

.radiochoice {
  padding-left: 12%;
  padding-top: 0;
  position: absolute;
  z-index: 1;
}

input {
  display: flex;
  border: solid black 1px;
  border-radius: 20px;
  align-items: center;
  margin-left: 6%;
  padding-right: 50%;
  padding-bottom: 10px;
}

input[type="submit"] {
  padding: 10px;
  font-size: large;
  border: solid blue 1px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 40%;
}

li::marker {
  content: none;
}

#page {
  display: grid;
  grid-template-areas: "head" "nav" "gametime" "main" "history" "tickets" "highlights" "foot";
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

#page>header,
#historypage>header,
#ticketpage>header,
#teampage>header,
#contactpage>header {
  grid-area: head;
  background-color: rgb(57, 5, 177);
  color: rgb(244, 234, 234);
  border: solid #33798A 1px;
  border-radius: 20px;
  
}

#page>nav,
#historypage>nav,
#ticketpage>nav,
#teampage>nav,
#contactpage>nav {
  grid-area: nav;
  background-color: #b1f4f8;
  font-size: large;
  border: solid #33798A 1px;
  border-radius: 20px;

}

#page>#gametime {
  grid-area: gametime;
  width: 100%;
  background-color: white;
  margin: auto;
  border: solid #33798A 1px;
  border-radius: 20px;
}

#page>main {
  grid-area: main;
  background-color: #fcfcfa;
  color: white;
  background-image: url(../images/bg_cardimg.png);
  border: solid #33798A 1px;
  border-radius: 20px;
}

#page>#tickets {
  grid-area: tickets;
  background-image: url(../images/bg_cardimg.png);
  color: white;
  border: solid #33798A 1px;
  border-radius: 20px;
}

#page>#history {
  grid-area: history;
  color: white;
  background-image: url(../images/bg_cardimg.png);
  border: solid #33798A 1px;
  border-radius: 20px;
}

#page>#highlights {
  grid-area: highlights;
  background-color: #fcfcfa;
  height: auto;
  border: solid #33798A 1px;
  border-radius: 20px;
}

#page>footer,
#historypage>footer,
#ticketpage>footer,
#teampage>footer,
#contactpage>footer {
  grid-area: foot;
  background-color: rgb(57, 5, 177);
  display: block;
  color: whitesmoke;
  width: 100%;
  margin: auto;
  border: solid #33798A 1px;
  border-radius: 20px;
  /* border-radius: 5px; */
  text-align: center;
}


#page>#gametime>table {
  border: none;
  background-color: white;
  width: 70%;
  margin: auto;
}

#scrolltable{
  max-height: 410px;
  overflow-y: auto;
}

#page>#gametime>table>tbody {
  background-color: white;
}

#page #gametime table tbody tr td.bordertable {
  background-color: white;
}

#page #gametime table tbody tr.borderrow {
  background-color: rgb(156, 155, 155);
}

#page>td>.datetime {
  column-span: all;
}

ul {
  text-align: center;

}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 64px;
  margin: auto;
  display: block;
}

.lifooter {
  padding-left: 1%;
  padding-right: 11%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  border: none;
  display: block;
  margin: auto;
  font-size: small;
}

a {
  color: #b0b0f5;
  text-decoration: none;
}

a:visited {
  color: #0658fb;
}

#historypage {
  display: grid;
  grid-template-areas: "head" "nav" "history" "earlyinfo" "extrainfo" "currentteam" "foot";
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

#ticketpage {
  display: grid;
  grid-template-areas: "head" "nav" "singleticket" "foot";
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

#ticketpage>#singleticket {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#ticketpage>#singleticket {
  grid-area: singleticket;
  height: 100%;
  width: 100%;
  margin: auto;
}

#teampage {
  display: grid;
  grid-template-areas: "head" "nav" "playerset1" "playerset2" "playerset3" "playerset4" "playerset5" "playerset6" "foot";
  grid-gap: 20px;
  text-align: center;
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

#teampage>#playerset1,
#teampage>#playerset2,
#teampage>#playerset3,
#teampage>#playerset4,
#teampage>#playerset5,
#teampage>#playerset6 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#teampage>#playerset1,
#teampage>#playerset2,
#teampage>#playerset3,
#teampage>#playerset4,
#teampage>#playerset5,
#teampage>#playerset6 {
  background-color: #fcfcfa;
  height: 100%;
  width: 100%;
  margin: auto;

}

#teampage>#playerset1 {
  grid-area: playerset1;
  background-color: white;
  color: white;
}

#teampage>#playerset2 {
  grid-area: playerset2;
  background-color: white;
  color: white;
}

#teampage>#playerset3 {
  grid-area: playerset3;
  background-color: white;
  color: white;
}

#teampage>#playerset4 {
  grid-area: playerset4;
  background-color: white;
  color: white;
}

#teampage>#playerset5 {
  grid-area: playerset5;
  background-color: white;
  color: white;
}

#teampage>#playerset6 {
  grid-area: playerset6;
  background-color: white;
  color: white;
}

.cardimgteam {
  margin-right: 2%;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: auto;
  border: solid white 1px;
  border-radius: 20px;
  width: 100%;
  background-color: #0103FF;
}

.cardimgtickets {
  padding-top: 10%;
  padding-bottom: 10%;
  border: solid white 1px;
  border-radius: 20px;
  color: white;
  width: 100%;
  background-image: url(../images/bg_cardimg.png);
  margin-bottom: 6%;
}

.ticketbutton {
  border: solid rgb(245, 245, 249) 1px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

#historypage>#earlyinfo {
  grid-area: earlyinfo;
  background-color: #fcfcfa;
  height: auto;
  border: solid #33798A 1px;
  border-radius: 20px;
}

#historypage>#extrainfo {
  grid-area: extrainfo;
  background-color: #fcfcfa;
  height: auto;
  border: solid #33798A 1px;
  border-radius: 20px;
}

#historypage>#history {
  grid-area: history;
  background-color: #fcfcfa;
  height: auto;
  border: solid #33798A 1px;
  border-radius: 20px;
}

#historypage>#currentteam {
  grid-area: currentteam;
  background-color: #fcfcfa;
  height: auto;
  border: solid #33798A 1px;
  border-radius: 20px;
}

#contactpage {
  display: grid;
  grid-template-areas: "head" "nav" "contactformarea" "foot";
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

#contactpage>#contact {
  grid-area: contactformarea;
  width: 100%;
  background-color: #fcfcfa;
  height: auto;
  margin: auto;
  border: solid blue 1px;
  border-radius: 20px;
}